@import "normalize.css";

#root {
  min-height: 100vh;
  min-width: 100vw;
  background: rgb(213,255,0);
background: linear-gradient(90deg, rgba(213,255,0,1) 0%, rgba(250,255,145,0.413624824929972) 50%, rgba(213,255,0,1) 100%);
}
